<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/clsbb.css">
</head>
<body>
<%- include("partials/header.ejs") %>
<div class="courselayout-y">
    <div class="side-bar-y">
        <a href="/cosab/<%= course.id %>" class="overview-y course-part-y">Overview</a>
        <% sections.forEach((section) => { %>
            <a href="/cs-stu/<%= section.section_id %>" class="section course-part-y"><%= section.section_name %></a>
        <% }) %>
    </div>
    
    <div class="main-content-y">
        <div class="left-main-content-y">
            <div class="lfmc-2-y">
                <div class="lfc-heading-y">
                    <p><%= course.title %></p>
                </div>
                <div class="lfc-subheading-y">
                    <p><%= course.subheading %></p>
                </div>
                <div class="lfc-rating-y">
                    <p>Rating: <%= course.rating %></p>
                </div>
                <div class="lfc-instructor-y">
                    <p>Instructor: <%= course.instructor %></p>
                </div>
                <div class="lfc-level-y">
                    <p>Level: <%= course.level %></p>
                </div>
                <div class="lfc-description-y">
                    <p><%= course.description %></p>
                </div>
            </div>
        </div>

        <div class="right-main-content-y">
            <div class="rfc-main-2-y">
                <div class="rfc-photo-y">
                    <% if (course.thumbnail) { %>
                        <img src="<%= course.thumbnail %>" alt="Course Image" width="300px" height="200px">
                    <% } else { %>
                        <p>No image available</p> 
                    <% } %>
                </div>
                <div class="rfc-price-y">$<%= course.price %></div>
<a href="/chat/<%= course.id %>/<%= userId %>/student" class="chat-button">
                    <button>Join Chat</button>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/chat.js"></script>
</body>
</html>
