<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/clsbb.css">
</head>
<body>
    <%- include('partials/header') %>
<div class="courselayout-y">
    <div class="side-bar-y">
        <div class="overview-y course-part-y">Overview</div>
        <% sections.forEach(section => { %>
            <div class="section course-part-y"><%= section.section_name %> 🔒</div>
        <% }) %>
    </div>
    
    <div class="main-content-y">
        <div class="left-main-content-y">
            <div class="lfmc-2-y">
                <div class="lfc-heading-y">
                    <p><%= course.title %></p>
                </div>
                <div class="lfc-subheading-y">
                    <p><%= course.subheading %></p>
                </div>
                <div class="lfc-rating-y">
                    <p>Rating : <%= course.rating %></p>
                </div>
                <div class="lfc-instructor-y">
                    <p>Instructor :  <%= course.instructor %></p>
                </div>
                <div class="lfc-level-y">
                    <p>Level : <%= course.level %></p>
                </div>
                <div class="lfc-description-y">
                    <p>Description : <%= course.description %></p>
                </div>
                <div class="lfc-description-y">
                    <p>Category : <%= course.category %></p>
                </div>
            </div>
        </div>

        <div class="right-main-content-y">
            <div class="rfc-main-2-y">
                <div class="rfc-photo-y">
                    <% if (course.thumbnail) { %>
                        <img src="<%= course.thumbnail %>" alt="Course Image" width="300px">
                    <% } else { %>
                        <p>No image available</p> 
                    <% } %>
                </div>
                <div class="rfc-price-y">$<%= course.price %></div>
                <div class="rfc-btn-y">
                    <form action="/add-to-cart" method="POST" style="display: inline;">
                        <input type="hidden" name="course_id" value="<%= course.id %>">
                        <button type="submit" class="rfc-cart">Add to Cart</button>
                    </form>
                
                    <form action="/add-to-wishlist" method="POST" style="display: inline;">
                        <input type="hidden" name="course_id" value="<%= course.id %>">
                        <button type="submit" class="rfc-wishlist">Add to Wishlist</button>
                    </form>
                
                    <form action="/buy" method="POST" style="display: inline;">
                        <input type="hidden" name="course_id" value="<%= course.id %>">
                        <button type="submit" class="rfc-buy">Buy</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
</body>
</html>
