<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/mycart.css"> 
</head>
<body>

<%- include('partials/header') %>

<div class="top-y">
    <div class="t-heading-y">
        <p class="my-cart-y-txt">My Cart</p>
    </div>
    <div class="t-buy-all-btn-y">
        <button class="buy-all-btn-y">Checkout</button>
    </div>
</div>

<div class="bottom-y">
    <% cartItems.forEach(item => { %>
        <div class="b-course-card-y">
            <div class="b-course-photo-y">
                <a href="/cosbb/<%= item.id %>"> 
                    <% if (item.thumbnail) { %>
                        <img src="<%= item.thumbnail %>" alt="Course Image" width="300px" height="200px" class="bc-pic-y">
                    <% } else { %>
                        <p>No image available</p> 
                    <% } %>
                </a>
                
            </div>
            <div class="b-course-heading-y">
                <a href="/cosbb/<%= item.id %>">
                    <p class="bch-txt-y"><%= item.title %></p>
                </a>
            </div>
            <div class="b-course-price-y">
                <p class="bcp-txt-y">$ <%= item.price %></p>
            </div>
            <div class="b-course-rating-y">
                <p class="bcr-txt-y">Rating: <%= item.rating %></p>
            </div>
            <div class="b-course-level-y">
                <p class="bcl-txt-y">Level: <%= item.level %></p>
            </div>
            <div class="b-course-instructor-y">
                <p class="bci-txt-y">Instructor: <%= item.instructor %></p>
            </div>
            <div class="bcc-btns-y">
                <form action="/buy-course/<%= item.id %>" method="POST">
                    <button type="submit" class="bccb-buy-y">Buy</button>
                </form>
                <form action="/remove-from-cart/<%= item.id %>" method="POST">
                    <button type="submit" class="bccb-remove-y">Remove</button>
                </form>
            </div>
            
        </div>
    <% }) %>
</div>

<%- include('partials/footer') %>
</body>
</html>
